body {
    background-color: blanchedalmond;
    display: flex;
    flex-direction: column;
    align-items: center;

}


.container_sketch{
    background-color: white;
    border: 24px groove gold;
    width: 580px;
    height: 580px;
    padding: 2px;
    box-sizing: border-box;

    display: grid;
    grid-gap: 1px;

    align-self: center;
}

.box {
    border: 2px solid pink;
    min-width: 2px;
    min-height: 2px; 
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 0px;
    margin-right: 0px;
}

.all_buttons_container {
    width: 200px;
    margin: 10px, auto;
}
.invisible_div {
    width: 200px;
}

.grid_button_container {
    display: flex;
    flex-direction: column;
    margin: 40px;
    gap: 2px;
}
.mod_button_container {
    display: flex;
    flex-direction: column;
    margin: 40px;
    gap: 2px;
}







